* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  border: 2px solid red;
  position: relative;
  height: 8000px;
  background-color: beige;
}

img {
  margin: 10px;
  /* position: static;
    top: 10px;
    right: 30px; */
}

.image2 {
  /* position: relative;
    top: 200px;
    left: 100px;
    right: 100px;
    bottom: 200px; */

  position: absolute;
  top: 500px;
  left: 500px;
}

.image3 {
  position: sticky;
  top: 50px;
}
.image4 {
  position: fixed;
}

.box {
  background-color: red;
  height: 5000px;
}
